@charset 'UTF-8';

/* Ajustes para dispositivos de até 900px de largura */
@media screen and (max-width: 900px) {
    #bloco {
        max-width: 300px;
        font-size: 13px;
    }

    #bloco:hover {
        padding: 20px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .container-main {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(46, 46, 46);
        border: 1px solid rgba(186, 185, 185, 0.308);
        margin-bottom: 5%;
        padding: 2%;
    }

    .container-main > h1 {
        font-family: "Bebas Neue", sans-serif;
        color: bisque;
    }

    .form-container {
        margin-top: 1%;
    }

    .form-container form {
        background-color: #353535;
        display: flex;
        padding: 10px;
    }

    input[type="email"] {
        width: 200px;
        height: 40px;
        background-color: #2d2d2d;
        border: 1px solid rgba(186, 185, 185, 0.308);
        margin-right: 10px;
        color: bisque;
    }

    input[type="email"]:focus {
        box-shadow: none;
        outline: none;
    }

    input[type="submit"] {
        border: 1px solid rgba(186, 185, 185, 0.308);
        font-family: "Bebas Neue", sans-serif;
        background-color: #2d2d2d;
        color: bisque;
        transition: transform .5s, box-shadow .5s;
        width: 80px;
        font-size: 100%;
    }

    input[type="submit"]:hover {
        transform: scale(1.1);
        cursor: pointer;
        border: 1px solid rgba(186, 185, 185, 0.76);
        box-shadow: 1px 1px 10px rgba(156, 255, 27, 0.137);
    }

    input[type="email"]:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #2d2d2d inset;
        -webkit-text-fill-color: rgb(155, 155, 155) !important;
    }
}

/* Ajustes para dispositivos de até 720px de largura */
@media screen and (max-width: 720px) {
    #bloco {
        max-width: 200px;
        font-size: 13px;
        height: 320px;
    }

    #imagem img {
        width: 200px;
        height: 240px;
        border: 2px solid rgb(129, 129, 129);
        margin: 10% 50px 0 50px;
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.481);
    }

    #imagem-optimus-tech {
        width: 430px;
        height: 250px;
        border: 5px solid rgba(0, 0, 0, 0.227);
    }

    #bloco3 {
        background-image: linear-gradient(to bottom, rgb(58, 58, 58), rgb(36, 36, 36));
        width: 460px;
        height: 330px;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5% 0;
        transition: box-shadow .5s;
        justify-content: center;
        border: 1px solid rgb(95, 95, 95);
    }

    #bloco3:hover {
        transform: none;
        margin: 5% 0;
    }
}

/* Ajustes para dispositivos de até 640px de largura */
@media screen and (max-width: 640px) {
    .form-container form {
        flex-direction: column;
        align-items: center;
    }

    input[type="email"] {
        margin-bottom: 5%;
    }

    input[type="submit"] {
        margin: auto;
    }
}

/* Ajustes para dispositivos de até 559px de largura */
@media screen and (max-width: 559px) {
    section {
        display: flex;
        justify-content: center;
    }
    #bloco {
        flex-basis: 200px;
        font-size: 13px;
        height: 320px;
        margin: auto;
        padding: 10px;
    }
    #bloco:hover{
        padding: 10px;
    }
    #bloco2 {
        max-width: 300px;
        font-size: 13px;
        height: 240px;
        margin-bottom: 15%  ;
    }
    #bloco2:hover{
        padding: 10px;
    }
    #imagem img {
        margin-right: 2px;
        margin-bottom: 10%;
    }

    #container-background {
        flex-basis: 400px;
        margin: 5% 0;
       
    }

    #bloco3 {
        width: 330px;
        height: 300px;
    }

    #imagem-optimus-tech {
        width: 270px;
        height: 170px;
    }
    #container-conteudo{
        margin-top: 5%;
    }
}

/* Ajustes para dispositivos de até 478px de largura */
@media screen and (max-width: 478px) {
    #container-conteudo {
        flex-direction: column;
    }

    #imagem {
        display: flex;
        justify-content: center;
    }

    #imagem > img {
        margin: 5% 0 15% 0;
    }

    .container-main {
        margin-top: 5%;
    }
}
